.main-title{
    height: 100px;
    width: inherit;
    font-size: xx-large;
    vertical-align: middle;
}

.main-content{
    width: 300px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description{
    height: 40px;
}